<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/test_pages_2/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
        {{ content }}

        repositories<br>

        {{ site.url }}<br><!-- https://noopy0415.github.io/ -->
        {{ site.repo }}<br><!-- 何も表示しない -->
    </section>
    <footer>
        &copy; to me
    </footer>
</body>
</html>
